{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <a href="{{ path('app_page_new', {'id': app.user.etudiant.id}) }}">NEW PAGE</a>
{% endblock %}
