{% extends 'base.html.twig' %}

{% block title %}UniFolio - Bibliothèque de pages{% endblock %}

{% block header %}
    {% include "_menu.html.twig" %}
{% endblock %}


{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bibliothèque de pages</li>
        </ol>
    </nav>

    <div class="container pages">
        <h1>Bibliothèque de pages</h1>
        {% if add == true %}
            <a href="{{ path('app_page_new', {'id': app.user.etudiant.id}) }}">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-circle-plus"></i> <br>
                    Créer une page
                </button>
            </a>
        {% elseif add == false %}
            <div class="alert alert-primary" role="alert">
                La création d'une page nécessite d'avoir au moins une trace de disponible.
            </div>
        {% endif %}

        {{ component('all_page') }}
    </div>

{% endblock %}
