{% extends 'base.html.twig' %}

{% block title %}UniFolio - Bibliothèque de pages{% endblock %}

{% block header %}
    {% include "_menu.html.twig" %}
{% endblock %}


{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bibliothèque de pages</li>
        </ol>
    </nav>

<div class="container">
    <h1>Bibliothèque de pages</h1>
    <div class="alert alert-primary" role="alert">
        La création d'une page nécessite d'avoir au moins une trace de disponible.
    </div>

    <a href="{{ path('app_page_new', {'id': app.user.etudiant.id}) }}"><button class="btn btn-primary">Créer une page</button></a>

    {{ component('all_page') }}
</div>

{% endblock %}
