{% extends 'base.html.twig' %}

{% block title %}UniFolio - Données personnelles{% endblock %}

{% block body %}
    <div class="content-container portfolios">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Données personnelles</li>
        </ol>
    </nav>

        <section>
            <article>
                <h1>Respect des Données Personnelles et RGPD : Utilisation des Données Utilisateurs</h1>
                <hr>
                <h2>Notre Engagement envers la Protection des Données</h2>
                <p>L’Université de Reims Champagne-Ardenne, représentée par son Président (Villa Douce - 9, bd de la Paix - CS 60005 - 51724 Reims Cedex), s'engage à ce que le traitement de données personnelles soit conforme au Règlement Général sur la Protection des Données (règlement UE 2016/676) et à la loi du 6 janvier 1978 modifiée (loi Informatique et Libertés).</p>
                <p>
                    Les données recueillies, pour l’exécution de la mission d’intérêt public de l’URCA, sont nécessaires à la gestion administrative et pédagogique des étudiants. Les destinataires des données sont les agents de l’URCA habilités pour cette gestion.
                </p>
                <p>
                    Conformément au Règlement Général sur la Protection des Données et à la loi du 6 janvier 1978 modifiée, vous disposez d’un droit d’accès, de rectification et d’effacement des données qui vous concernent ainsi que d’un droit d’opposition et d’un droit à la limitation du traitement de ces données. Vous disposez du droit de définir des directives relatives au sort de vos données personnelles, après votre décès.
                </p>
                <p>
                    Pour toute question sur le traitement de vos données, vous pouvez contacter David Annebicque à l’adresse suivante : david.annebicque@univ-reims.fr.
                    <br>
                    Si vous estimez, après avoir contacté la Déléguée à la Protection des Données de l’URCA à l’adresse suivante : dpo@univ-reims.fr, que vos droits Informatique et Libertés ne sont pas respectés, vous avez la faculté d’introduire une réclamation à la CNIL, en ligne ou par courrier postal.
                </p>

                <h2>Collecte et Utilisation des Données Utilisateurs</h2>
                <p>Lors de votre inscription sur notre plateforme, nous collectons certaines données universitaires et
                    personnelles depuis l'intranet de l'IUT. Ces informations sont nécessaires pour créer votre compte et faciliter la gestion de vos portfolios ainsi que l'interaction avec les enseignants et les autres étudiants et ne sont accessibles qu'aux personnes habilitées et ayant une nécessité d'accéder à ces informations. Toutes les données facultatives peuvent être gérées par vos soins.</p>
                <ul>
                    <li>prénom, nom</li>
                    <li>numéro du matricule (numéro URCA)</li>
                    <li>adresse mail universitaire</li>
                    <li>adresse mail personnelle (facultatif)</li>
                    <li>numéro de téléphone (facultatif)</li>
                </ul>


                <h2>Finalités de la Collecte de Données</h2>
                <p>Les données que nous collectons sont utilisées dans les buts suivants :</p>
                <ol>
                    <li><strong>Création et Gestion de Compte :</strong> Vos données universitaires et personnelles sont
                        utilisées pour créer et gérer votre compte sur notre plateforme. Cela vous permet d'accéder aux
                        fonctionnalités de création de portfolios et de collaboration avec les enseignants.
                    </li>
                    <li><strong>Interaction avec les Enseignants :</strong> Vos données sont utilisées pour faciliter
                        les échanges entre les enseignants et vous. Les enseignants peuvent accéder à certaines de vos
                        informations pour évaluer vos portfolios et votre travail universitaire.
                    </li>
                    <li><strong>Amélioration de la Plateforme :</strong> Les données collectées nous aident à améliorer
                        constamment notre plateforme en comprenant comment elle est utilisée et en identifiant les
                        éventuels problèmes d'utilisation.
                    </li>
                </ol>

                <h2>Consentement et Contrôle de vos Données</h2>
                <p>Votre consentement est au cœur de notre démarche. En utilisant notre plateforme, vous consentez à la
                    collecte et à l'utilisation de vos données conformément à cette politique. Cependant, vous avez le
                    droit de contrôler vos données. Vous pouvez à tout moment accéder à vos informations, les mettre à
                    jour ou demander leur suppression en nous contactant à portfolio.iut-troyes@univ-reims.fr. Veuillez
                    noter que certaines informations peuvent être nécessaires pour l'utilisation continue de la
                    plateforme.</p>

                <h2>Sécurité des Données</h2>
                <p>Nous prenons la sécurité de vos données très au sérieux. Nous avons mis en place des mesures de
                    sécurité techniques et organisationnelles pour protéger vos informations contre tout accès non
                    autorisé, toute utilisation abusive, perte ou divulgation.</p>

                <h2>Partage de données</h2>
                <p>Nous ne partageons pas vos données personnelles avec des tiers en dehors du cadre strictement
                    nécessaire pour assurer le bon fonctionnement de la plateforme et de ses fonctionnalités
                    pédagogiques.</p>

                <h2>Durée de Conservation des Données</h2>
                <p>Vos données seront conservées conformément à nos engagements envers votre vie privée et les exigences
                    du RGPD. En particulier, nous tenons à souligner que les données des utilisateurs seront conservées
                    jusqu'à 5 ans après la fin de leurs études à l'IUT de Troyes, conformément à notre politique interne
                    et aux besoins pédagogiques.
                </p>
                <p>
                    Cette durée de conservation est établie dans le but de permettre aux utilisateurs de continuer à
                    accéder et à interagir avec la plateforme pour une période raisonnable après leur départ de
                    l'établissement, tout en respectant les contraintes liées à la protection des données.
                </p>
                <p>
                    À l'issue de cette période de conservation, toutes les données personnelles seront supprimées de
                    manière sécurisée et définitive, sauf si des obligations légales spécifiques nous imposent de
                    conserver certaines informations pour des durées plus longues.
                </p>
                <p>
                    Nous sommes déterminés à garantir que vos données personnelles soient traitées avec soin et respect
                    tout au long de leur durée de conservation et au-delà.
                </p>
                <p>
                    Pour toute question concernant la conservation de vos données personnelles, n'hésitez pas à nous
                    contacter à portfolio.iut-troyes@univ-reims.fr. Votre confiance est précieuse, et nous sommes là pour
                    répondre à vos préoccupations.
                </p>
                <hr>
                <small>Dernière mise à jour de cette politique : 24/08/2023</small>
            </article>
        </section>
    </div>
{% endblock %}
