{% extends 'base.html.twig' %}

{% block title %}Hello TraceBisController!{% endblock %}

{% block body %}

    <ul>
        {% for trace in traces %}
            <li>
                <a href="{{ path('app_trace_bis_formulaire', {'id': constant('class', trace)}) }}">{{ trace.display }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
