{% extends 'base.html.twig' %}

{% block title %}UniFolio - Accès refusé{% endblock %}

{% block body %}

    <div class="content-container traces">
        <div class="row">
            <div class="col-md-12">
                <h1>Accès refusé</h1>
                <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
            </div>
        </div>
    </div>

{% endblock %}
