{% extends 'base.html.twig' %}

{% block title %}Edit Enseignant{% endblock %}

{% block body %}
    <h1>Edit Enseignant</h1>

    {{ include('profil_edit_bis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_edit_bis_index') }}">back to list</a>

    {{ include('profil_edit_bis/_delete_form.html.twig') }}
{% endblock %}
