{% extends 'base.html.twig' %}

{% block title %}Hello TestTraceController!{% endblock %}

{% block body %}
    <h1>Dépot de trace</h1>

    <h2>Hello</h2>


    <a href="{{ path('app_new', {type}) }}">Image</a>
    <a href="{{ path('app_new', {type}) }}">Lien</a>

{% endblock %}