{% extends 'base.html.twig' %}

{% block title %}Bibliothèque de portfolios{% endblock %}

{% block body %}

    <h1 class="text-center">Bibliothèque de portfolios de {{ etudiant.prenom }} {{ etudiant.nom }}</h1>

    <section class="portfolios">
        <div class="row">
            {% for portfolio in portfolios %}

                {% include('\partials/_card_portfolio.html.twig') %}

            {% else %}
                <p>Aucun portfolio trouvé.</p>
            {% endfor %}
        </div>
    </section>

{% endblock %}
