<hr>

<div style="display: flex">
    <h2>{{ trace.titre }}</h2>

    <button class="btn-danger btn">
        <i class="fa-solid fa-minus-square"></i>
    </button>
    <button class="btn-warning btn">
        <i class="fa-solid fa-edit"></i>
    </button>
</div>

<hr>