<h4>Ajouter une page</h4>

<div class="alert alert-info mb-2">
    Choisissez une page déjà existante pour la dupliquer dans ce portfolio, ou ajoutez une nouvelle page
</div>

<label for="selectPage" class="sr-only">Choisir une page à ajouter</label>
<select class="form-select"
        id="selectPage"
        is="select-complete" {{ stimulus_action('creation', 'addPage') }}>
    <option value="">Choisir...</option>
    <option value="new">Ajouter une nouvelle page</option>
    {% for element in liste %}
        <option value="{{ element.id }}">{{ element.intitule }}</option>
    {% endfor %}
</select>



