
<h4>Edition de {{ portfolio.intitule }}</h4>

                        {{ form_start(form, {'attr': {id:'portfolio'}}) }}
                        {{ form_end(form) }}

<button {{ stimulus_action('creation', 'save', 'click', {url:path('app_portfolio_new')}) }}>save</button>