<div class="card step-card">
    <div class="row" style="display: flex; justify-content: space-between">
        <div class="trace col-10" style="display: flex; flex-direction: column">
            <h4>{{ cv.intitule }}</h4>
        </div>
    </div>
</div>