{% extends 'base.html.twig' %}

{% block title %}UniFolio - Bibliothèque de portfolios{% endblock %}

{% block header %}
    {% include "_menu.html.twig" %}
{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bibliothèque de portfolios</li>
        </ol>
    </nav>

    <div class="container portfolios">
        <section>
            <div class="row">
                <h2 class="col-10">Bibliothèque de Portfolios</h2>
                <a class="col-2" href="{{ path('app_portfolio_new') }}" style="width: fit-content;">
                    <button class="btn btn-primary">
                        Créer un portfolio <br>
                    </button>
                </a>
            </div>

            <article class="row g-4">
                {{ component('all_portfolio') }}
            </article>
        </section>
    </div>

{% endblock %}
