{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}

    <a href="{{ path('app_portfolio_new', {'id': app.user.etudiant.id}) }}">
        <button class="btn btn-primary">Créer un portfolio</button>
    </a>

{% endblock %}
