{% extends 'base.html.twig' %}

{% block title %}UniFolio - Bibliothèque de portfolios{% endblock %}

{% block header %}
    {% include "_menu.html.twig" %}
{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bibliothèque de portfolios</li>
        </ol>
    </nav>

    <div class="container portfolios">
        <div class="row" style="display: flex">
        <h1 style="width: fit-content;">Bibliothèque de Portfolios</h1>
        <a href="{{ path('app_portfolio_new') }}" style="width: fit-content;">
            <button class="btn btn-primary">
                <i class="fa-solid fa-circle-plus"></i> <br>
            </button>
        </a>
        </div>
            {{ component('all_portfolio') }}
    </div>

{% endblock %}
