{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}

    <a href="{{ path('app_synchro_intranet') }}"><button type="button" class="btn btn-primary">Synchronisation Intranet</button></a>

{% endblock %}