{% extends 'base.html.twig' %}

{% block title %}Hello DashboardEtudiantController!{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}
    <div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>

    <section class="dashboard_retours_pedagogiques">

    </section>
    <footer>

        {% if admin == '/admin?_switch_user=_exit' %}
            <br>
            <a href="{{ admin }}">
                <button>back to admin</button>
            </a>
            <br>
        {% endif %}

    </footer>
    </div>
{% endblock %}
