{% extends 'base.html.twig' %}

{% block title %}Hello DashboardEtudiantController!{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}
    <div class="container">
        {#        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb"> #}
        {#            <ol class="breadcrumb"> #}
        {#                <li class="breadcrumb-item"><a href="#">Home</a></li> #}
        {#                <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li> #}
        {#            </ol> #}
        {#        </nav> #}
        <h1>Tableau de bord</h1>
        <section class="dashboard_retours_pedagogiques">
            <div class="row">
                <h2>Derniers retours pédagogiques</h2>
                <article class="col-lg-12 col-12">
                    <!-- todo: boucle sur les infos -->
                    <div class="aperçu_commentaire col-12">
                        <p>Nom de la trace|portfolio</p>
                        <ul>
                            <li>Auteur</li>
                            <li>Date de création</li>
                            <li>Contenu du commentaire</li>
                        </ul>
                        <div class="btn-group">
                            <button><i class="fa-solid fa-comment-dots"></i></button>
                            <button><i class="fa-solid fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="aperçu_commentaire col-12">
                        <p>Nom de la trace|portfolio</p>
                        <ul>
                            <li>Auteur</li>
                            <li>Date de création</li>
                            <li>Contenu du commentaire</li>
                        </ul>
                        <div class="btn-group">
                            <button><i class="fa-solid fa-comment-dots"></i></button>
                            <button><i class="fa-solid fa-eye"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="aperçu_evaluation">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Nom de la trace</h5>
                                <p class="card-text">Compétence A <span><i class="fa-solid fa-check"></i></span></p>
                                <a href="#" class="card-link"><button><i class="fa-solid fa-eye"></i></button></a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Nom de la trace</h5>
                                <p class="card-text">Compétence A <span><i class="fa-solid fa-check"></i></span></p>
                                <p class="card-text">Compétence B <span><i class="fa-solid fa-check"></i></span></p>
                                <a href="#" class="card-link"><button><i class="fa-solid fa-eye"></i></button></a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Nom de la trace</h5>
                                <p class="card-text">Compétence A <span><i class="fa-solid fa-check"></i></span></p>
                                <a href="#" class="card-link">
                                    <button><i class="fa-solid fa-eye"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <footer>

        {% if admin == '/admin?_switch_user=_exit' %}
            <br>
            <a href="{{ admin }}">
                <button>back to admin</button>
            </a>
            <br>
        {% endif %}

    </footer>
{% endblock %}
