{% extends 'base.html.twig' %}

{% block title %}Hello DashboardEtudiantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="col-1">Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/UniFolio/src/Controller/DashboardEtudiantController.php'|file_link(0) }}">src/Controller/DashboardEtudiantController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/UniFolio/templates/dashboard_etudiant/index.html.twig'|file_link(0) }}">templates/dashboard_etudiant/index.html.twig</a></code></li>
    </ul>
</div>

    <footer>

        {% if admin == '/admin?_switch_user=_exit' %}

        <br>

        <a href="{{ admin }}"><button>back to admin</button></a>

        <br>

        {% endif %}

    </footer>
{% endblock %}
