{% extends 'base.html.twig' %}

{% block title %}UniFolio - portfolios universitaires{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}

    <div class="container public">
        <section class="zone1">
            <div class="row">
                <article class="col-lg-6 col-12">
                    <h1>Des <span>portfolios universitaires</span> simples et efficaces</h1>
                    <p>En utilisant <strong>UniFolio</strong>, les étudiants peuvent mettre en avant leurs réalisations universitaires et personnelles, lier leurs productions aux compétences du référentiel de leur formation et bénéficier d'un suivi pédagogique. Les enseignants ont la possibilité de commenter et d'évaluer les productions afin de proposer un suivi pédagogique.</p>
                </article>
                <div class="col-lg-6">
                    <img src="{{ asset('illu.png') }}" alt="illustration">
                </div>
            </div>
        </section>

        <section class="zone2">
            <div class="row col-lg-12 col-12">
                <article class="col-lg-12 col-12">
                    <h2>Comment ça marche ?</h2>
                    <em>
                        Pour un usage universitaire uniquement, <strong>UniFolio</strong> est un outil pédagogique qui encadre la création et le suivi des portfolios des étudiants.
                    </em>
                    <ol class="col-lg-12">
                        <li>
                            <h4>Espace étudiant</h4>
                            <p>Les étudiants construisent leur portfolio, au sein duquel il leur faut créer et organiser des pages composées d'ensembles de traces - témoignages de réalisations - illustrées par un ou plusieurs médias, justifiées et liées aux compétences relatives à leur formation.</p>

                        </li>
                    <hr>
                        <li>
                            <h4>Espace enseignant</h4>
                            <p>Les enseignants disposent d'un espace dédié au suivi et à l'évaluation des portfolios.</p>
                        </li>
                    </ol>
                    <a href="#">
                        <button>Documentation complète</button>
                    </a>
                </article>
            </div>
        </section>

    </div>

{% endblock %}
