.portfolios, .pages, .traces, .cvs {

  section {
    margin: 0;
    padding: 20px 40px;
    background-color: #f8f8f8;
    border-radius: 0;
  }

  fieldset {
    font-size: .8rem;
  }

  .row {
    justify-content: space-between;
    margin: 0;
    width: 100%;

    .card {
      border: none;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }


    .card-content {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 0 0 15px 0;
      background-color: $color-light;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn-see {

        button {
          @include btn-icon(#ffae00, $color-light, 3px solid #ffae00);
          margin: 0 10px;
          position: relative;
          bottom: 15px;

          &:hover {
            @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
          }
        }
      }

      h3 {
        @include titre($primary-font, 22px, 1.5);
        margin: 0;
      }

      h6 {
        text-align: center;
      }

      .accordion-button::after {
        display: none;
      }

      .accordion-button {
        display: flex;
        justify-content: flex-end;
        //flex-direction: column;
      }

      .progress {
        height: 15px;
        background-color: $color-primary-focus;


        .progress-bar {
          background-color: $color-primary;
        }
      }

      .card-header {
        align-items: center;


        .card-infos-min {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          font-size: .7rem;
          padding: 0;
          margin: 0;

          li {
            margin: 0 10px 0 0;

            span {
              font-weight: 600;
            }
          }
        }
      }

      .card-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
          list-style: none;
          width: 100%;
          padding: 0;
          margin: 0;

          li {
            background-color: $color-bg;
            padding: 10px 20px;
            margin: 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: start;
            font-size: .8rem;

            i {
              margin-left: 10px;
            }
          }
        }
      }

      .card-text {
        margin: 0;
        padding: 5px 25px;
        text-align: justify;
      }

      hr {
        margin: 10px;
      }

      .btn_grp {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        margin: 15px 0;
      }
    }

  }

  .trace-visu {

    .trace-competences-min {
      list-style: none;
      display: flex;
      padding: 0;
    }

    .trace-infos-min {
      font-size: .8rem;

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        li {
          margin: 0 10px 0 0;

          span {
            font-weight: 600;
          }
        }
      }
    }

    figure {
      margin: 25px auto;

      .trace-galerie-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;

        img {
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
      }

      .trace-galerie-lien {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
        margin: 10px 0;

          a {
            color: #4b4b4b;
          }
        }
      }

      figcaption {
        font-size: .8rem;
        text-align: center;
      }
    }

    .trace-competences-block {
      margin: 25px 0;

      .trace-competences {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 15px 25px;
        border: none;
        //box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
      }

      p {
       text-align: end;
      }
    }
  }

  .modal_cv {
    justify-content: center;
    padding: 25px 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;

    .cv_header {
      margin: 25px 0;

      h2 {
        font-size: 2rem;
        font-weight: 700;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        text-transform: capitalize;
      }

      .contact {
        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;

          li {
            margin: 5px 0;
          }
        }
      }
    }

    .cv_content {
      display: flex;
      justify-content: space-between;
      margin: 25px 0;

      h4 {
        font-size: 1.1rem;
        font-weight: 700;
        color: $color-secondary-focus;
      }

      h5 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
      }

      .cv_profile {
        margin: 0 0 25px 0;
      }

      .cv_competences {
        margin: 0 0 25px 0;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 0;
          margin: 0 0 25px 0;

          li {
            margin: 5px 10px;
            padding: 5px 10px;
            background-color: $color-primary;
            border-radius: 5px;
          }
        }
      }

    }


    .cv_exp ul, .cv_form ul {
      display: flex;
      flex-direction: column;
      padding: 0 !important;


    }

  }


  .banner {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center
  }

  //.title {
  //  width: 50%;
  //  padding: 25px;
  //  margin: 0 auto;
  //  text-align: center;
  //  font-size: 1.5rem;
  //  font-weight: 700;
  //  position: relative;
  //  bottom: 40px;
  //  background-color: $color-light;
  //  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  //}
  //
  //
  //.page-portfolio {
  //  width: 70%;
  //  margin: 25px auto;
  //
  //  ul {
  //    padding: 0 50px;
  //    display: block !important;
  //    list-style: none;
  //  }
  //}
}


