.portfolios, .pages, .traces, .cvs {

  a {

    .btn-primary {
      width: 100%;
      margin: 5px 0;
      padding: 10px 0;
      @include btn($color-secondary-focus, $color-light, 3px solid $color-secondary-focus);

      &:hover {
        @include btn($color-light, $color-dark, 3px solid $color-secondary-focus);
      }
    }
  }

  .row {
    justify-content: space-between;
    margin: 0;
    width: 100%;

    .card {
      width: 27vw;
      margin: 50px 5px;
      padding: 0;
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
      border: none;
    }

    @media screen {

      @media (max-width: 992px) {
        .card {
          width: 90vw;
        }
      }
    }

    .card-body {
      padding: 0;

      .card-header {
        width: 100%;
        height: 200px;
        padding: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-content {
        width: 100%;
        //height: 100%;
        text-align: center;
        padding: 0 0 15px 0;
        background-color: $color-light;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btn-see {

          button {
            @include btn-icon(#ffae00, $color-light, 3px solid #ffae00);
            margin: 0 10px;
            position: relative;
            bottom: 15px;

            &:hover {
              @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
            }
          }
        }

        h3 {
          @include titre($primary-font, 22px, 1.5);
          margin: 0;
        }

        ul {
          list-style: none;
          width: 100%;
          padding: 0;
          margin: 0;

          li {
            background-color: $color-primary;
            padding: 10px 0;
            margin: 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
        }

        .card-text {
          margin: 0;
          padding: 5px 25px;
          text-align: justify;
        }

        hr {
          margin: 10px;
        }

        .btn_grp {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          width: 100%;
          position: relative;
          margin: 15px 0;

          a {
            width: 40%;

            button {
              width: 100%;
              margin: 5px 0;
              padding: 10px 0;
              @include btn($color-secondary-focus, $color-light, 3px solid $color-secondary-focus);

              &:hover {
                @include btn($color-light, $color-dark, 3px solid $color-secondary-focus);
              }
            }
          }

          a:nth-child(3) {
            width: 60%;
          }

          //
          //a:nth-child(2) {
          //  width: 110px;
          //}
        }
      }

    }
  }

  .modal_cv {
    justify-content: center;
    padding: 25px 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;

    .cv_header {
      margin: 25px 0;

      h2 {
        font-size: 2rem;
        font-weight: 700;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        text-transform: capitalize;
      }

      .contact {
        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;

          li {
            margin: 5px 0;
          }
        }
      }
    }

    .cv_content {
      display: flex;
      justify-content: space-between;
      margin: 25px 0;

      h4 {
        font-size: 1.1rem;
        font-weight: 700;
        color: $color-secondary-focus;
      }

      h5 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
      }

      .cv_profile {
        margin: 0 0 25px 0;
      }

      .cv_competences {
        margin: 0 0 25px 0;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 0;
          margin: 0 0 25px 0;

          li {
            margin: 5px 10px;
            padding: 5px 10px;
            background-color: $color-primary;
            border-radius: 5px;
          }
        }
      }

    }


    .cv_exp ul, .cv_form ul {
      display: flex;
      flex-direction: column;
      padding: 0 !important;


    }

  }


  .banner {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center
  }

  .title {
    width: 50%;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    bottom: 40px;
    background-color: $color-light;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  }


  .page-portfolio {
    width: 70%;
    margin: 25px auto;

    ul {
      padding: 0 50px;
      display: block !important;
      list-style: none;
    }
  }
}


