.dashboard, .notificationsAll {
  padding: 25px 75px !important;

  .btn-group {

    button {
      margin-right: 15px;
    }
  }

  section:nth-child(1) {
    @include zone(0, 20px 40px, $color-bg, 0);

    .card {
      box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
      //padding: 15px;
    }
  }

  section {
    @include zone(0, 40px, $color-bg, 0);

    .row {
      justify-content: flex-start;

      em {
        margin-top: 0;
      }

      .card-etudiant {
        padding: 15px;
        border: none;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

        .card-header {
          padding: 10px 20px;
          //background-color: rgba(111, 24, 173, 0.07);
          background-color: $color-light;
          //border-bottom: none;
        }
      }

      .card-notifs {
        padding: 0;

        .card-header {
          display: flex;
          justify-content: space-between;
        }

        .card-comment {
          padding: 0;
          box-shadow: none !important;
        }
      }

      .card {

        .portfolio-banniere {
          height: auto;
          background-color: $color-light;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 5px;
        }

        .card-infos-min {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          font-size: .7rem;
          padding: 0;
          margin: 0;

          li {
            margin: 0 10px 0 0;

            span {
              font-weight: 600;
            }
          }
        }

        .card-table-competences {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: start !important;
        }

        .portfolio-table {
          padding: 0 15px;
        }

        .card-body {
          //display: flex;
          //align-items: center;

          .dashboard-competences {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          ul {
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;
          }

          li {
            margin: 5px 0;
            background-color: $color-bg;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: start;
            font-size: .8rem;

            i {
              margin-left: 10px;
            }

          }

          p, li {
            font-size: .8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .btn-group {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .btn {
              margin: 10px 0;
              width: fit-content;
            }
          }
        }
      }
    }
  }

  .dashboard_infos_groupe {

    .row {
      @include zone(50px 0, 40px, $color-light, 0);
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

      .d-flex {
        width: 50%;
        margin: 25px auto;

        button {
          @include btn($color-secondary-focus, $color-light, 3px solid $color-secondary-focus);
          margin: 0;

          &:hover {
            @include btn($color-light, $color-dark, 3px solid $color-secondary-focus);
          }
        }
      }

      h2 {
        @include titre($primary-font, 20px, 1.5);
        font-weight: 500;
      }

      table {
        width: 98%;
        border-collapse: separate;
        border-spacing: 0 25px;
        text-align: center;

        tbody {
          tr {
            background-color: $color-primary;
            //border-radius: 5px;

            td:nth-child(1) {
              @include menu-item;
              margin: 0;
              padding: 10px 20px;
              width: 20%;
              background-color: $color-secondary-focus;
              color: $color-light;
              height: 100%;
            }

            .table-btn {
              display: flex;
              justify-content: flex-end;
              margin: 10px 0;

              .btn-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: fit-content;
                position: relative;
                left: 30px;

                button {
                  @include btn-icon($color-primary-focus, $color-light, 3px solid $color-primary-focus);
                  margin: 0 10px;

                  &:hover {
                    @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .dashboard-eval-traces {

    .filtre-btn {

      button {
        margin-right: 10px;
      }
    }

    .accordion-item {

      font-size: .8rem;
    }

    .card-infos-min {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      font-size: .7rem;
      padding: 0;
      margin: 0;

      li {
        margin: 0 10px 0 0;

        span {
          font-weight: 600;
        }
      }
    }

    .dashboard-competences {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 5px 0;
        background-color: $color-bg;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        font-size: .8rem;

        i {
          margin-left: 10px;
        }
      }
    }

    .dashboard-trace-contenu {

      figure {
        margin: 25px 0;

        .trace-galerie-img {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 0;

          img {
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          }
        }

        .trace-galerie-lien {
          display: flex;
          flex-direction: column;

          button {
            margin: 10px 0;

            a {
              color: #4b4b4b;
            }
          }
        }

        figcaption {
          font-size: .8rem;
        }
      }
    }

    .dashboard-competences {

      li {
        display: flex;
        justify-content: space-between;

        fieldset {

          div {
            display: flex;
            justify-content: space-between;

            .form-check {
              margin: 0 10px;
            }
          }
        }
      }
    }

    .btn-pages {
        margin: 25px 0;

      .btn-primary {
        background-color: $color-primary;
        color: $color-light;
        border: solid 1px $color-primary;
        border-radius: 5px !important;
        padding: 6px 16px;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;
        transition: ease-in-out 0.1s;
        width: fit-content;
        flex: none !important;
      }
    }

  }

}

.dept_list {

  ul {

    li {
      //width: fit-content !important;
      margin: 0 auto !important;
      text-align: center;
      cursor: pointer;

      label {
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
      }
    }

    hr {
      margin: 0;
    }
  }
}

#validation_etat {
  display: flex;
}