.dashboard, .notificationsAll {
  padding: 25px 75px !important;

  .btn-group {

    button {
      margin-right: 15px;
    }
  }
        .portfolio-banniere {
          height: auto;
          background-color: $color-light;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 5px;
        }

          .dashboard-competences {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

  .dashboard_infos_groupe {

    .row {
      @include zone(50px 0, 40px, $color-light, 0);
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

      .d-flex {
        width: 50%;
        margin: 25px auto;

        button {
          @include btn($color-secondary-focus, $color-light, 3px solid $color-secondary-focus);
          margin: 0;

          &:hover {
            @include btn($color-light, $color-dark, 3px solid $color-secondary-focus);
          }
        }
      }

      h2 {
        @include titre($primary-font, 20px, 1.5);
        font-weight: 500;
      }

      table {
        width: 98%;
        border-collapse: separate;
        border-spacing: 0 25px;
        text-align: center;

        tbody {
          tr {
            background-color: $color-primary;
            //border-radius: 5px;

            td:nth-child(1) {
              @include menu-item;
              margin: 0;
              padding: 10px 20px;
              width: 20%;
              background-color: $color-secondary-focus;
              color: $color-light;
              height: 100%;
            }

            .table-btn {
              display: flex;
              justify-content: flex-end;
              margin: 10px 0;

              .btn-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: fit-content;
                position: relative;
                left: 30px;

                button {
                  @include btn-icon($color-primary-focus, $color-light, 3px solid $color-primary-focus);
                  margin: 0 10px;

                  &:hover {
                    @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .dashboard-eval-traces {

    .accordion-item {

      font-size: .8rem;
    }

    .card-infos-min {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      font-size: .7rem;
      padding: 0;
      margin: 0;

      li {
        margin: 0 10px 0 0;

        span {
          font-weight: 600;
        }
      }
    }

    .dashboard-competences {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 5px 0;
        background-color: $color-bg;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        font-size: .8rem;

        i {
          margin-left: 10px;
        }
      }
    }

    .dashboard-trace-contenu {

      figure {
        margin: 25px 0;

        .trace-galerie-img {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 0;

          img {
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          }
        }

        .trace-galerie-lien {
          display: flex;
          flex-direction: column;

          button {
            margin: 10px 0;

            a {
              color: $color-light;
            }
          }
        }

        figcaption {
          font-size: .8rem;
        }
      }
    }

    .dashboard-competences {

      li {
        display: flex;
        justify-content: space-between;

        fieldset {

          div {
            display: flex;
            justify-content: space-between;

            .form-check {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }

}

.dept_list {

  ul {

    li {
      //width: fit-content !important;
      margin: 0 auto !important;
      text-align: center;
      cursor: pointer;

      label {
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
      }
    }

    hr {
      margin: 0;
    }
  }
}

#validation_etat {
  display: flex;
}

#evalBilan {
  width: 100%;

  tr {
    border-bottom: solid 1px black;
  }
}

.filtre-btn {

  button {
    margin: 10px !important;
  }
}
