.trace_form, .portfolio_form, .page_form {
  @include zone(25px 0, 0, $color-light, 0);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  .row {
    justify-content: space-around;

    article, aside {
      padding: 50px 100px;

      form {

        .hidden {
          display: none;
        }

        button {
          @include btn($color-secondary-focus, $color-light, 3px solid $color-secondary-focus);

          &:hover {
            @include btn($color-light, $color-dark, 3px solid $color-secondary-focus);
          }
        }
      }

      ul {
        padding: 0;

        div {
          padding: 15px 35px;
          margin: 15px 0;
          background-color: $color-light;
          box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        }
      }
    }

    aside {
      background-color: $color-primary;
    }
  }
}

.account {
  padding: 0 !important;

  .row {
    justify-content: space-between;
    margin: 0;

    .col-lg-5 {
      padding: 15px;
        margin: 0 auto;

      i {
        margin-right: 15px;
      }

      .form-group {
        margin: 15px 0;
      }

      button {
        @include btn($color-secondary-focus, $color-light, 3px solid $color-secondary-focus);
        margin: 0 0 15px 0;

        &:hover {
          @include btn($color-light, $color-dark, 3px solid $color-secondary-focus);
        }
      }
    }
  }
}

.secondary_form {
  div {
    padding: 0 !important;
    margin: 15px 0;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
