body {
  background-color: $color-bg;

  header {
    margin-bottom: 50px;

    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      @include menu-item;

      .logo {
        width: 25px;
        height: 25px;
      }

      .collapse {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}


footer {
  background-color: $color-primary !important;
  padding: 10px 40px;

  .container {
    padding: 0;

    .row {
      display: flex;

      .col-12 {
        p {
          margin: 0;
        }
      }
    }
  }
}