body {
  background-color: $color-bg;

  header {
    margin-bottom: 50px;

    .navbar {
      padding: 0;
      background-color: $color-bg !important;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      box-shadow: rgba(100, 100, 100, 0.05) 0px 2px 8px 0px;
      @include menu-item;

      ul {
        align-items: center;

        a {
          color: $color-dark !important;
          padding: 12px 0;
          font-size: .8rem;
          font-weight: 400;
        }

        .inactive::after {
          content: '';
          display: block;
          background-color: $color-bg;
          height: 3px;
          width: 100%;
        }

        .active::after {
          content: '';
          display: block;
          background-color: $color-secondary;
          height: 3px;
          width: 100%;
        }

        .break {
          color: $color-dark;
          opacity: .8;
          font-weight: lighter;
          font-size: 1.25rem;
        }
      }

      ul:nth-child(2) {

        li {

          a {
            font-size: .8rem;
            font-weight: 400;
          }
        }
      }

      .dropdown-menu {
        background-color: $color-bg;
        border: none !important;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        width: fit-content;

        .dropdown-item:hover {
          background-color: $color-secondary;
        }

        li {

          a {
            color: $color-dark !important;
            padding: 5px 10px;
          }
        }
      }

      .logo {
        width: 45px;
        margin: 0 10px 0 0;
      }

      .collapse {
        display: flex;
        justify-content: space-between;
      }
    }

    .dropdown-menu[data-bs-popper] {
      top: 80%;
    }

    .dept_infos {
      background-color: $color-light;
      width: 90%;
      margin: 0 5%;
      padding: 10px 15px 12px 15px;
      box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
      border-radius: 5px;
      position: fixed;
      top: 54px;

      .col-3 {
        display: flex;
        align-items: center;

        p {
          margin: 0 15px 0 0;
        }

        .dropdown {

          button {
            background-color: transparent;
            border: none;

          }
        }
      }
    }
  }

  nav {

    .breadcrumb {
      @include paragraphe;
      padding: 15px 75px;
      margin: 0;
    }
  }

}


footer {
  margin: 0;
  width: 100%;
  padding: 50px 5vw 25px 5vw;

  .alert-info {
    @include zone(2rem auto, 2rem 5vw, $color-primary-dark, 10px);
    color: $color-light;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
      margin-bottom: 0;
      margin-left: 1rem;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 500;
    }

  }

  small {
    opacity: .8;
  }
}
