body {
  background-color: $color-bg;

  header {
    margin-bottom: 50px;

    .navbar {
      background-color: $color-secondary-focus !important;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      @include menu-item;

      ul {
        align-items: center;

        a {
          color: $color-light !important;
        }

        .break {
          color: $color-light;
          opacity: .2;
            font-weight: lighter;
          font-size: 1.25rem;
        }
      }

      ul:nth-child(2) {

        li {

          a {
            font-size: .9rem;
            font-weight: 300;
          }
        }
      }

    .dropdown-menu {
      background-color: $color-secondary-focus;
      border: none !important;
      width: fit-content;

      .dropdown-item:hover {
        background-color: $color-primary-focus;
      }
    }

    .logo {
      width: 25px;
      height: 25px;
    }

    .collapse {
      display: flex;
      justify-content: space-between;
    }
  }
}

nav {

  .breadcrumb {
    @include paragraphe;
    padding: 15px 75px;
    margin: 0;
  }
}

}


footer {
  background-color: $color-secondary-focus !important;
  color: $color-light;
  padding: 10px 40px;
  margin: 0;
  width: 100%;

  .container {
    padding: 0;

    .row {
      display: flex;

      .col-12 {
        p {
          margin: 0;
        }
      }
    }
  }
}
