
.public {
  max-width: 100vw;
  @include paragraphe;
  padding: 0 100px;
  //todo: media query for mobile no padding

  section {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .zone1 {
    height: 90vh;

    .row {
      @include zone(0, 0 5vw, $color-bg, 10px);
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      @include titre($primary-font, 2rem, 1);
      margin-bottom: 1rem;
      font-weight: 800;

      span {
        color: $color-secondary;
      }
    }

    p {
      opacity: .8;
      line-height: 1.5;
    }

    img {
      width: 90%;
    }
  }

  .zone2, .zone3 {

    .row {
      @include zone(2rem 0, 2rem 5vw, $color-bg, 10px);
      color: $color-dark;

      h2 {
        @include titre($primary-font, 1.85rem, 1);
        font-weight: 600;
      }

      em {
        line-height: 1.5;
        font-size: 1rem;
        //font-style: italic;
        opacity: .8;
      }

      p {
        line-height: 1.5;
      }

      ul {
        @include zone(0, 0 5vw, $color-bg, 10px);
        color: $color-dark;

        h4 {
          color: $color-secondary;
        }
      }

      h5 {
        @include zone(3rem 0, 2rem 5vw, $color-secondary, 10px);
        color: $color-light;
      }
    }
  }
}

