@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;400;500;600;700;800&display=swap');

$small: 300px;
$medium: 950px;
$large: 2000px;

// COLOR
$color-bg: #f5f5f5;
$color-primary: #eeeeee;
$color-secondary: #cbcbcb;
$color-primary-focus: #262626;
$color-secondary-focus: #6a1fff;
$color-dark: #000;
$color-light: #fff;

$c1: #FDF9E2;
$c2: #7E79B0;
$c3: #E3E1FC;
$c4: #FFFFFC;
$c5: #B0AA8B;

// MARGIN
$body-margin: 0 50px;
$zone-margin: 50px 0;

// PADDING


// BORDER RADIUS


// FONTS
$primary-font: Anek Bangla, sans-serif;
$secondary-font: Besley, serif;
// BUTTONS

// ICONS



