//@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;200;300;400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
// COLOR
$color-bg: #f8f8f8;
//$color-primary: rgba(232, 226, 243, 0.68);
$color-primary: #641b9fcf;
$color-primary-dark: rgba(66, 12, 112, 0.81);
$color-primary-focus: #edc3ff;
$color-secondary: rgb(255, 228, 94);
$color-secondary-focus: rgb(245, 216, 69);
//$color-primary-focus: #ffae00;
//$color-primary-focus: rgba(242, 220, 93, 0.35);
$color-dark: #000;
$color-light: #fff;

$c1: #9c2b26;
$c1dark: #7a211e;
$c2: #d07740;
$c2dark: #a15e35;
$c3: #e5b94d;
$c3dark: #c49a3e;
$c4: #416c3f;
$c4dark: #355132;
$c5: #2b4c76;
$c5dark: #223c5e;

// MARGIN
$body-margin: 0 50px;
$zone-margin: 50px 0;


// FONTS
$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

//$help-font: $primary-font, 'font-size: 14px', 'line-height: 1.5', 'font-weight: 200';
//
//$h1-font: $secondary-font, 'font-size: 36px', 'line-height: 1.5';
//
//$h2-font: $secondary-font, 'font-size: 32px', 'line-height: 1.5';
//
//$h3-font: $secondary-font, 'font-size: 28px', 'line-height: 1.5';
//
//$h4-font: $primary-font, 'font-size: 24px', 'line-height: 1.5', 'font-weight: 600';
//
//$h5-font: $primary-font, 'font-size: 22px', 'line-height: 1.5', 'font-weight: 600';
//
//$h6-font: $primary-font, 'font-size: 20px', 'line-height: 1.5', 'font-weight: 400';

// BUTTONS

//$button-primary: 'background-color:' $color-primary-focus, 'color:' $color-dark, 'border: none', 'border-radius: 5px', 'padding: 10px 20px', 'font-size: 14px', 'font-weight: 600', 'text-transform: uppercase', 'cursor: pointer';
//
//$button-primary-hover: 'background-color:' $color-light, 'color:' $color-dark, 'border: solid 3px' $color-primary-focus, 'border-radius: 5px', 'padding: 10px 20px', 'font-size: 14px', 'font-weight: 600', 'text-transform: uppercase', 'cursor: pointer';
//
//$button-secondary: 'background-color:' $color-secondary-focus, 'color:' $color-dark, 'border: none', 'border-radius: 5px', 'padding: 10px 20px', 'font-size: 14px', 'font-weight: 600', 'text-transform: uppercase', 'cursor: pointer';
//
//$button-secondary-hover: 'background-color:' $color-light, 'color:' $color-dark, 'border: solid 3px' $color-secondary-focus, 'border-radius: 5px', 'padding: 10px 20px', 'font-size: 14px', 'font-weight: 600', 'text-transform: uppercase', 'cursor: pointer';

// ICONS



