@import "_variables.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_public.scss";

.container {
  max-width: 100vw;

  nav {

    .breadcrumb {
      @include paragraphe;
      padding: 20px 0;
    }
  }

  h1 {
    @include titre($secondary-font, 36px, 1.5);
  }

  .dashboard_retours_pedagogiques {

    .row {
      @include zone(50px 0, 40px, $color-primary, 10px);

      h2 {
        @include titre($primary-font, 20px, 1.5);
        font-weight: 500;
      }

      .col-lg-12 {

        table {
          width: 98%;
          border-collapse: separate;
          border-spacing: 0 25px;
          text-align: center;

          thead {

          }

          tbody {
            tr {
              background-color: $color-light;
              border-radius: 5px;

              td:nth-child(1) {
                @include menu-item;
                margin: 0;
                padding: 10px 20px;
                width: 20%;
                border-radius: 5px;
                background-color: $color-secondary;
                height: 100%;
              }

              .table-btn {
                display: flex;
                justify-content: flex-end;
                margin: 10px 0;

                .btn-group {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: fit-content;
                  position: relative;
                  left: 30px;

                  button {
                    @include btn-icon($color-primary-focus, $color-light, 3px solid $color-primary-focus);
                    margin: 0 10px;

                    &:hover {
                      @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
                    }
                  }
                }
              }
            }
          }
        }

        hr {
          margin: 25px 0;
        }

        //todo: media query for mobile display column
        .aperçu_evaluation {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .card {
            width: 18rem;

            .card-body {
              padding: 0;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .card-title {
                background-color: $color-secondary;
                padding: 10px;
                border-radius: 5px;
              }

              .card-text {
                margin: 15px 0;
                background-color: $color-secondary;
                padding: 10px;
              }

              a {

                button {
                  @include btn-icon($color-primary-focus, $color-light, 3px solid $color-primary-focus);
                  position: relative;
                  top: 15px;

                  &:hover {
                    @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .dashboard_traces {

    .row {
      @include zone(50px 0, 40px, $color-primary, 10px);

      h2 {
        @include titre($primary-font, 20px, 1.5);
        font-weight: 500;
      }

      .col-lg-12 {

        table {
          width: 98%;
          border-collapse: separate;
          border-spacing: 0 25px;
          text-align: center;

          tbody {
            tr {
              background-color: $color-light;
              border-radius: 5px;

              td:nth-child(1) {
                @include menu-item;
                margin: 0;
                padding: 10px 20px;
                width: 20%;
                border-radius: 5px;
                background-color: $color-secondary;
                height: 100%;
              }

              .table-btn {
                display: flex;
                justify-content: flex-end;
                margin: 10px 0;

                .btn-group {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: fit-content;
                  position: relative;
                  left: 30px;

                  button {
                    @include btn-icon($color-primary-focus, $color-light, 3px solid $color-primary-focus);
                    margin: 0 10px;

                    &:hover {
                      @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
                    }
                  }
                }
              }
            }
          }
        }

        a {

          button {
            @include btn($color-primary-focus, $color-light, 3px solid $color-primary-focus);
            margin: 0 25px 0 0;

            &:hover {
              @include btn($color-light, $color-dark, 3px solid $color-primary-focus);
            }
          }
        }
      }
    }
  }

  //todo: mixin for table
  .dashboard_portfolio {

    .row {
      @include zone(50px 0, 40px, $color-primary, 10px);

      h2 {
        @include titre($primary-font, 20px, 1.5);
        font-weight: 500;
      }

      .col-lg-12 {

        table {
          width: 98%;
          border-collapse: separate;
          border-spacing: 0 25px;
          text-align: center;

          tbody {
            tr {
              background-color: $color-light;
              border-radius: 5px;

              td:nth-child(1) {
                @include menu-item;
                margin: 0;
                padding: 10px 20px;
                width: 20%;
                border-radius: 5px;
                background-color: $color-secondary;
                height: 100%;
              }

              .table-btn {
                display: flex;
                justify-content: flex-end;
                margin: 10px 0;

                .btn-group {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: fit-content;
                  position: relative;
                  left: 30px;

                  button {
                    @include btn-icon($color-primary-focus, $color-light, 3px solid $color-primary-focus);
                    margin: 0 10px;

                    &:hover {
                      @include btn-icon($color-light, $color-dark, 3px solid $color-primary-focus);
                    }
                  }
                }
              }
            }
          }
        }

        a {

          button {
            @include btn($color-primary-focus, $color-light, 3px solid $color-primary-focus);
            margin: 0 25px 0 0;

            &:hover {
              @include btn($color-light, $color-dark, 3px solid $color-primary-focus);
            }
          }
        }
      }
    }
  }
}


