@import "variables";
@import "mixins";
@import "layout";
@import "public";
@import "dashboard";
@import "biblio";
@import "forms";
@import "bootstrap";
@import "@fortawesome/fontawesome-pro/css/all.min.css";

* {
  font-family: $primary-font;
}

body {
  background-color: $color-bg !important;
  min-height: 100vh;

  .container {
    max-width: 100vw;
    //min-height: 100vh;
    padding: 0 4vw !important;
  }

  h1 {
    @include titre($primary-font, 2rem, 1);
    font-weight: 800;

    span {
      color: $color-secondary;
    }
  }

  h2 {
    @include titre($primary-font, 1.85rem, 1);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h3 {
    @include titre($primary-font, 1.5rem, 1);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h4 {
    @include titre($primary-font, 1.25rem, 1);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h5 {
    @include titre($primary-font, 1rem, 1.5);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h6 {
    @include titre($primary-font, .8rem, 1.5);
    font-weight: 500;

    span {
      color: $color-secondary;
    }
  }

  p {
    font-size: .9rem;
  }

  a {
    text-decoration: none;
  }

  .btn-primary {
    @include btn($color-primary-focus, #4b4b4b, 1px solid $color-primary);
    transition: ease-in-out 0.3s;

    &:hover {
      @include btn(rgba(111, 24, 173, 0.3), #4b4b4b, 1px solid $color-primary);
      transition: ease-in-out 0.3s;
    }
  }

  .btn-secondary {
    @include btn($color-secondary-focus, #4b4b4b, 1px solid $color-secondary);
    transition: ease-in-out 0.3s;

    &:hover {
      @include btn(rgba(242, 220, 93, 0.3), #4b4b4b, 1px solid $color-secondary);
      transition: ease-in-out 0.3s;
    }
  }

  .c1 {
    color: $c1;
    font-weight: 600;
  }

  .c2 {
    color: $c2;
    font-weight: 600;
  }

  .c3 {
    color: $c3;
    font-weight: 600;
  }

  .c4 {
    color: $c4;
    font-weight: 600;
  }

  .c5 {
    color: $c5;
    font-weight: 600;
  }


  //.btn-tertiary {
  //  @include btn($color-secondary, $color-light, 1px solid $color-secondary);
  //  transition: ease-in-out 0.3s;
  //
  //  &:hover {
  //    @include btn(transparent, $color-secondary, 1px solid $color-secondary);
  //    transition: ease-in-out 0.3s;
  //  }
  //}

  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------
  .modal-content {

    .modal-header {

      h3 {
        @include titre($secondary-font, 28px, 1.5);
        font-weight: 500;
      }
    }

    .modal-body {

      ul {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {

          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-dark;
            transition: ease-in-out 0.1s;

            &:hover {
              color: $color-secondary-focus;
            }

            i {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }


  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------

  .profil {

    .btn-profil {
      position: relative;
      bottom: 25px;
      display: flex;
      justify-content: flex-end;

      a {
        width: fit-content;
        padding: 0;

        button {
          @include btn($color-primary-focus, $color-light, 3px solid $color-primary-focus);

          &:hover {
            @include btn($color-light, $color-dark, 3px solid $color-primary-focus);
          }
        }
      }
    }

    .row {
      justify-content: space-between;

      article {
        @include zone(25px 0, 0px 40px 40px 40px, $color-light, 10px);

        h2 {
          @include titre($primary-font, 22px, 1.5);
          font-weight: 500;
          margin-bottom: 25px;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 10px;
          }
        }
      }

      aside {
        //width: 40%;
        @include zone(25px 0, 40px, $color-light, 10px);

        h2 {
          @include titre($primary-font, 22px, 1.5);
          font-weight: 500;
          margin-bottom: 25px;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 10px;
          }
        }

        p {
          text-align: center;
          padding: 10px 20px;
          width: fit-content;
          margin: 0 auto;
          background-color: $color-light;
          color: $color-dark;
        }
      }
    }
  }

  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------

}


