@import "variables";
@import "mixins";
@import "layout";
@import "public";
@import "dashboard";
@import "biblio";
@import "forms";
@import "bootstrap";
@import "@fortawesome/fontawesome-pro/css/all.min.css";
@import "~datatables.net-dt/css/jquery.dataTables.min.css";

* {
  font-family: $primary-font;
}

body {
  background-color: $color-bg !important;

  main {
  min-height: 80vh;

  }

  .container {
    max-width: 100vw;
    //min-height: 100vh;
    padding: 0 4vw !important;
  }

  h1 {
    @include titre($primary-font, 2rem, 1);
    font-weight: 800;

    span {
      color: $color-secondary;
    }
  }

  h2 {
    @include titre($primary-font, 1.85rem, 1);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h3 {
    @include titre($primary-font, 1.5rem, 1);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h4 {
    @include titre($primary-font, 1.25rem, 1);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h5 {
    @include titre($primary-font, 1rem, 1.5);
    font-weight: 600;

    span {
      color: $color-secondary;
    }
  }

  h6 {
    @include titre($primary-font, .8rem, 1.5);
    font-weight: 500;

    span {
      color: $color-secondary;
    }
  }

  p {
    font-size: .9rem;
  }

  a {
    text-decoration: none;
  }

  .btn-primary {
    @include btn($color-primary-focus, #4b4b4b, 1px solid $color-primary);
    transition: ease-in-out 0.3s;

    &:hover {
      @include btn(rgba(111, 24, 173, 0.3), #4b4b4b, 1px solid $color-primary);
      transition: ease-in-out 0.3s;
    }
  }

  .btn-secondary {
    @include btn($color-secondary-focus, #4b4b4b, 1px solid $color-secondary);
    transition: ease-in-out 0.3s;

    &:hover {
      @include btn(rgba(242, 220, 93, 0.3), #4b4b4b, 1px solid $color-secondary);
      transition: ease-in-out 0.3s;
    }
  }

  .btn-delete {
    @include btn(#c51d1d, $color-light, none);
    transition: ease-in-out 0.3s;
    padding: 3px 9px;

    &:hover {
      @include btn(#9f1717, $color-light, none);
      transition: ease-in-out 0.3s;
      padding: 3px 9px;
    }
  }

  .c1 {
    color: $c1;
    font-weight: 600;
  }

  .c2 {
    color: $c2;
    font-weight: 600;
  }

  .c3 {
    color: $c3;
    font-weight: 600;
  }

  .c4 {
    color: $c4;
    font-weight: 600;
  }

  .c5 {
    color: $c5;
    font-weight: 600;
  }


  //.btn-tertiary {
  //  @include btn($color-secondary, $color-light, 1px solid $color-secondary);
  //  transition: ease-in-out 0.3s;
  //
  //  &:hover {
  //    @include btn(transparent, $color-secondary, 1px solid $color-secondary);
  //    transition: ease-in-out 0.3s;
  //  }
  //}

  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------
  //----------------------------------------------------------------------------
  .modal-content {

    .modal-header {

      h3 {
        @include titre($secondary-font, 28px, 1.5);
        font-weight: 500;
      }
    }

    .modal-body {

      ul {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {

          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-dark;
            transition: ease-in-out 0.1s;

            &:hover {
              color: $color-primary;
            }

            i {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }

  .card {
    padding: 0;

    .card-header {
      padding: 20px;
    }

    .card-infos-min {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      font-size: .7rem;
      padding: 0;
      margin: 0;

      li {
        margin: 0 10px 0 0;

        span {
          font-weight: 600;
        }
      }
    }

    .card-body {
        padding: 20px;

      .card-table-competences {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start !important;
      }
    }

    .card-footer {
      padding: 20px;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
    }
  }
}


