{% block type_paragraphe %}
    <div class="row">
        <div class="col-5">
            {{ form_row(form.contenu) }}
        </div>
    </div>
{% endblock %}

{% block type_image %}
    <div class="row">
        <div class="col-5">
            {{ form_row(form.contenu) }}
        </div>
    </div>
{% endblock %}