{% block type_paragraphe %}
    {{ form_row(form.contenu) }}
{#    <div class="element_actions">#}
{#        <a href="{{ path('app_portfolio_perso_delete_element', {'id': element.id}) }}"></a>#}
{#        <button class="btn btn-danger">#}
{#            <i class="fa fa-minus-square"></i>#}
{#        </button>#}
{#        <button class="btn btn-success">#}
{#            <i class="fa fa-check-square"></i>#}
{#        </button>#}
{#    </div>#}
{% endblock %}

{% block type_image %}
    {{ form_row(form.contenu) }}
{#    <div class="element_actions">#}
{#        <button class="btn btn-danger">#}
{#            <i class="fa fa-minus-square"></i>#}
{#        </button>#}
{#        <button class="btn btn-success">#}
{#            <i class="fa fa-check-square"></i>#}
{#        </button>#}
{#    </div>#}
{% endblock %}