{% for label, messages in app.flashes %}
    {% for message in messages %}

        <div class="alert {% if label is defined %}alert-{{ label }}{% else %}alert-warning{% endif %} alert-dismissible fade show alert-popup" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}
{% endfor %}