{% for label, messages in app.flashes %}
    {% for message in messages %}

        <div class="alert alert-warning" role="alert">
                    {{ message }}
        </div>

    {% endfor %}
{% endfor %}