<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UniFolio{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>
<body>
<header>
    {% block header %}
    {% endblock %}
        {% include('_menu.html.twig') %}
    {% if data_user is defined and is_granted('ROLE_ENSEIGNANT') %}
        {% include('_departement.html.twig') %}
    {% endif %}
</header>
{% include "_toasts.html.twig" %}
<div class="test" style="position: fixed; width: 100%; z-index: 9999">

</div>
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<footer>

    {% if admin is defined and admin == '/admin?_switch_user=_exit' %}

        <br>

        <a href="{{ admin }}">
            <button>back to admin</button>
        </a>

        <br>

    {% endif %}

</footer>
</body>
</html>
