{# templates/components/all_trace.html.twig #}

{% if ('/trace' in app.request.uri) or ('/page' in app.request.uri) %}
<div style="display: flex; flex-wrap: wrap">
{% for trace in this.allTrace|sort((a,b)=> a.dateModification <=> b.dateModification) %}
    {{ component('trace_card', {'id': trace.id}) }}
{% endfor %}
</div>

{% endif %}

{% if '/dashboard' in app.request.uri %}

    <table>
        <thead>
        <tr>
            <th>Nom de la trace</th>
            <th>Date de création</th>
            <th>Date de modification</th>
            <th>Portfolio</th>
            <th>Validation</th>
        </tr>
        </thead>
        <tbody>
        {% for trace in this.allTrace|slice(0,4) %}
            {{ component('trace_table', {'id': trace.id}) }}
        {% endfor %}
        </tbody>
    </table>

{% endif %}

{#<!-- Nouvelle route pour l'édition de la trace -->#}
{#{% for trace in this.allTrace %}#}
{#    <a href="{{ path('app_trace_edit', {'id': trace.id}) }}">Editer la trace {{ trace.id }}</a>#}
{#{% endfor %}#}

