{% if '/dashboard' in app.request.uri %}
    <table>
        <thead>
        <tr>
            <th>Nom de l'étudiant.e</th>
            <th>Date</th>
            <th>Support</th>
            <th>Contenu</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endif %}