<tr>
    <td>John Doe</td>
    <td>lorem</td>
    <td>lorem</td>
    <td>lien bibliotheque</td>
    <td>lien bibliotheque</td>
    <td class="table-btn">
        <div class="btn-group">
            <a href="">
                <button><i class="fa-solid fa-eye"></i></button>
            </a>
        </div>
    </td>
</tr>