{# templates/components/page_card.html.twig #}

<div class="card m-4">
    <div class="card-body">
        <h3 class="card-title">{{ this.page.intitule }}</h3>
{#        <a href="{{ path('app_page_edit', {'id': this.page.id}) }}"><button class="btn btn-primary">Modifier</button></a>#}
            <h6>Traces associées :</h6>
            <ul>
                {% for trace in this.page.trace %}
                    <li>{{ trace.titre }}</li>
                {% endfor %}
            </ul>
    </div>
</div>