<tr>
    <td>John Doe</td>
    <td>01/01/2023</td>
    <td>Portfolio - nom n°1</td>
    <td class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto, commodi enim inventore, iure natus nemo.</td>
    <td class="table-btn">
        <div class="btn-group">
            <a href="">
                <button><i class="fa-solid fa-eye"></i></button>
            </a>
        </div>
    </td>
</tr>