<tr>
    <td>{{ this.trace.titre }}</td>
    <td>{{ this.trace.typeTrace }}</td>
    <td>etat valid.</td>
    <td>competences</td>
    <td>{{ this.trace.bibliotheque.etudiant.prenom }} {{ this.trace.bibliotheque.etudiant.nom }}</td>
</tr>