<tr>
    <td>{{ this.trace.titre }}</td>
    <td>{{ this.trace.datecreation|date('d-m-y H:i') }}</td>
    <td>{{ this.trace.datemodification is empty ? this.trace.datecreation|date('d-m-y H:i') : this.trace.datemodification|date('d-m-y H:i') }}</td>
    <td>Portfolio 1</td>
    <td><i class="fa-solid fa-check"></i></td>
    <td class="table-btn">
        <div class="btn-group">
            <a href="">
                <button><i class="fa-solid fa-edit"></i></button>
            </a>
            <a href="">
                <button><i class="fa-solid fa-eye"></i></button>
            </a>
        </div>
    </td>
</tr>