{% extends 'base.html.twig' %}

{% block title %}Vérification de compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light mt-4 p-4">
                <h1 class="h3 mb-3 font-weight-normal">Vérifier votre compte</h1>

                <p>
                    Un email de vérification vous a été envoyé. Veuillez cliquer sur le lien de vérification dans
                    l'email pour vérifier votre compte.
                </p>

                <form action="{{ path('app_verify_resend_email') }}" method="post">
                    <button type="submit" class="btn btn-primary">Renvoyer le mail</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
