{% extends 'base.html.twig' %}

{% block title %}UniFolio - Mentions Légales{% endblock %}

{% block body %}
    <div class="content-container portfolios">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mentions légales</li>
        </ol>
    </nav>

        <section>
            <article>
                <h1>Mentions légales</h1>
                <hr>
                <h2>Informations générales</h2>
                <p>Ce site est propriété de Cyndel Herolt et a été développé pour l’IUT de Troyes et de l'université de
                    Reims Champagne Ardenne
                </p>
                <p>
                    Siège social : Iut de Troyes, 9, Rue de Québec, CS90396, 10026 Troyes Cedex
                </p>

                <h2>Droits de propriété intellectuelle</h2>
                <p>L’IUT de Troyes avise les utilisateurs de ce site que de nombreux éléments de ce site :</p>
                <ul>
                    <li>sont protégés par la législation sur le droit d’auteur : ce peut être notamment le cas des
                        photographies, des articles, des dessins, des séquences animées,... ; et/ou sont protégés par la
                        législation sur les dessins et modèles ;
                    </li>
                    <li>sont protégés par la législation sur les marques. Les éléments ainsi protégés sont la propriété
                        de L’IUT de Troyes ou de tiers ayant autorisé L’IUT de Troyes à les exploiter.
                    </li>
                    <li>A ce titre, toute reproduction, représentation, utilisation, adaptation, modification,
                        incorporation, traduction, commercialisation, partielles ou intégrales par quelque procédé et
                        sur
                        quelque support que ce soit (papier, numérique, ...) sont interdites, sans l’autorisation écrite
                        préalable de L’IUT de Troyes, hormis les exceptions visées à l’article L 122.5 du Code de la
                        Propriété Intellectuelle, sous peine de constituer un délit de contrefaçon de droit d’auteur
                        et/ou
                        de dessins et modèles et/ou de marque, puni de deux ans d’emprisonnement et de 150 000€
                        d’amende.
                    </li>
                </ul>
                <h2>Protection des données personnelles</h2>
                <p>L’IUT de Troyes s’engage à respecter votre vie privée et à protéger les informations que vous lui
                    communiquez. En particulier, les données personnelles collectées sur le site Internet
                    https://portfolio.iut-troyes.univ-reims.fr sont destinées à l’usage de L’IUT de Troyes et de ses
                    filiales. Elles sont confidentielles et traitées comme telles.</p>
                <p>Concernant les informations à caractère nominatif que vous seriez amenés à nous communiquer, vous
                    bénéficiez d’un droit d’accès et de rectification conformément à la loi française Informatique et
                    Liberté n° 78-17 du 6 janvier 1978. Vous pouvez exercer ce droit auprès de l’IUT de Troyes - Iut de
                    Troyes, 9, Rue de Québec, CS90396, 10026 Troyes Cedex</p>
                <p>La collecte de ces informations est nécessaire pour répondre à vos demandes d’offres commerciales et
                    vous adresser, le cas échéant, une lettre d’information électronique.</p>
                <p>Nous vous signalons qu’afin de vous proposer des produits et services toujours plus adaptés,
                    certaines
                    informations à caractère non personnel, relatives à votre activité sur ce site, seront
                    automatiquement
                    collectées. Ces informations sont destinées à l’IUT de Troyes et pourront également être utilisées
                    dans
                    le cadre d’opérations commerciales ou de marketing ou servir de base à des études et analyses.</p>
                <p>Ces informations ne seront en aucun cas communiquées à des tiers. Seul le personnel de l’IUT de
                    Troyes
                    ou celui des agences qui nous assistent pour la gestion de ces opérations ont accès aux données. Ces
                    agences sont tenues de respecter la confidentialité des informations et de ne les utiliser que pour
                    l’opération bien précise pour laquelle elles doivent intervenir.</p>
                <h2>Sécurité</h2>
                <p>Nous prenons toutes les précautions utiles afin de préserver l’intégrité des données, leur confidentialité et empêcher toute communication à des tiers non autorisés.</p>
                <h2>Droit applicable</h2>
                <p>Le site Internet https://portfolio.iut-troyes.univ-reims.fr et les présentes conditions générales sont soumises au droit français et sont rédigés en français.</p>
                <p>Pour tout litige, il est fait attribution exclusive de juridiction aux tribunaux compétents du ressort de Lyon. l’IUT de Troyes se réserve le droit de modifier les présentes mentions à tout moment. L’utilisateur s’engage à la consulter régulièrement.</p>
                <h2>Limitation de responsabilité</h2>
                <p>Vous utilisez le site https://portfolio.iut-troyes.univ-reims.fr sous votre seule et entière responsabilité. L’IUT de Troyes ne pourra être tenu pour responsable des dommages directs ou indirects, tels que, notamment, préjudice matériel, pertes de données ou de programme, préjudice financier, résultant de l’utilisation de ce site ou de sites qui lui sont liés.</p>
                <h2>Mise à jour</h2>
                <p>L’IUT de Troyes se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes mentions légales et tous les éléments, produits présentés sur le site. L’ensemble de ces modifications s’impose aux internautes qui doivent consulter les présentes Conditions Générales lors de chaque connexion.</p>
                <h2>Données statistiques de suivi</h2>
                <p>Aucune donnée statistique n'est collectée sur ce site.</p>
                <hr>
                <small>Dernière mise à jour de cette politique : 11/10/2023</small>
            </article>
        </section>
    </div>
{% endblock %}