{% extends 'base.html.twig' %}

{% block title %}Edit Etudiant{% endblock %}

{% block body %}
    <h1>Edit Etudiant</h1>

    {{ include('profil_edit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_edit_index') }}">back to list</a>

    {{ include('profil_edit/_delete_form.html.twig') }}
{% endblock %}
